<div>
  
  <div class="row"></div>
  <div class="row center">
    <i class="large material-icons center">person_pin_circle</i>
  </div>

  <h3 class="row col s12 center">Log In To FinFriend</h3>

  <%= form_for :login do |f| %>
  	<div class="row">
      <div class="input-field col s12">
        <%= f.label :email %>
        <%= f.text_field :email, autofocus: true, :required => true %>
      </div>
    </div>
		<div class="row">
      <div class="input-field col s12">
        <%= f.label :password %>
        <%= f.password_field :password, :required => true %>
      </div>
    </div>
    <div class="input-field col s12 center">
      <%= render partial: '/submit_button' %>
    </div>
  <% end %>
</div>
