<div>
  <div class="row"></div>
  <div class="row center">
    <i class="large material-icons center">person_pin_circle</i>
  </div>
  <h3 class="center">Apply for a FinFriend Credit Card!</h3>

  <%= form_for @user do |f| %>
    <div class="input-field col s12">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true %>
    </div>
    <div class="input-field col s12">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div class="input-field col s12">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="input-field col s12">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
    <div>
      <%= render partial: '/submit_button' %>
    </div>
  <% end %>
</div>
